.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 70px;
  display: inline-block;
}

.App-header {
  background-color: #222;
  text-align: center;
  padding: 15px 20px;
  color: white;
}

.App-nav {
  background-color: #444;
  height: auto;
  padding: 20px;
  color: white;
  a{
    margin-right: 20px;
    color: #888888;
    &:hover, &.active{
      color: white;
    }
  }
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.item{
  background: #fafafa;
  border-radius: 5px;
  margin: 1.5rem 1.5rem;
  border: 1px solid #eeeeee;
  text-align: left;
  padding: 1rem 2rem;
}

.item-slim{
  background: #fafafa;
  border-radius: 5px;
  border: 1px solid #eeeeee;
  text-align: left;
  padding: 1rem 2rem;
}

.cross-fade-leave {
  opacity: 1;
}
.cross-fade-leave.cross-fade-leave-active {
  opacity: 0;
  transition: opacity 1s ease-in;
}

.cross-fade-enter {
  opacity: 0;
}
.cross-fade-enter.cross-fade-enter-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.cross-fade-height {
  transition: height .5s ease-in-out;
}
